#dashboard-view .central.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#dashboard-view .expenses-list {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 150px;
}

#dashboard-view .expenses-list .expenses-table{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    #dashboard-view .expenses-list .expenses-table{
        width: 100%;
    }
}

#dashboard-view .fab-menu {
    position: fixed;
    right: 23px;
    bottom: 23px;
}