#landing-view md-toolbar.md-raised {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#landing-view  .landing-content {

}

#landing-view  .landing-content .top-sections {
    
}

#landing-view  .landing-content .video-section {
    overflow: hidden;
}

#landing-view  .landing-content .video-section .landing-video {
    height: 100%;
    float: right;
}

#landing-view  .landing-content .get-in-section {
    padding: 40px 80px;
    text-align: left;
}


#landing-view  .landing-content .get-in-section .get-in-btn {
    height: 46px;
    font-size: 16px;
    padding: 0 24px;
    margin: 0;
    margin-top: 30px;
}


/* Medium and small devices */
@media screen and (max-width: 960px) {
    #landing-view  .landing-content .video-section .landing-video {
        height: auto;
        width: 100%;
        float: none;
    }
}

/* Small */
@media screen and (max-width: 600px) {
    #landing-view  .landing-content .get-in-section {
        padding: 20px 20px;
        text-align: center;
    }
}
