#login-view md-input-container:not(.md-input-invalid) > .material-icons.email {
    color: green;
}

#login-view md-input-container:not(.md-input-invalid) > .material-icons.name {
    color: dodgerblue;
}

#login-view md-input-container.md-input-invalid > .material-icons.email,
#login-view md-input-container.md-input-invalid > .material-icons.name {
    color: red;
}