<div class="user-picture">
    <div
        class="name-placeholder"
        ng-if="user.nameInitials"
        >
        <span class="first-name">
            {{user.nameInitials[0]}}
        </span>
        <span
            class="last-name"
            ng-if="user.nameInitials.length > 1">
            {{user.nameInitials[1]}}
        </span>
    </div>
</div>