.expenses-table {
    width: 100%;
}

.expenses-table .expenses-table-header th {
    text-align: center;
}

.expenses-table .expense-item {
    display: table-row;
    font-size: 16px;
    text-transform: none;
}

.expenses-table .expense-item td {
    padding: 15px 0;
    border-bottom: 1px solid #E2E2E2;
}

.expenses-table .expense-item .expense-amount {
    /* border-radius: 3px 0px 0px 3px; */
    font-size: 24px;
    font-weight: bold;
    color: #3B5C90;
    padding-left: 10px;
    text-align: right;
}

.expenses-table th.expense-amount {
    text-align: right;
    padding-left: 10px;
}

.expenses-table .expense-item .expense-description {
    font-weight: 700;
}

.expenses-table th.expense-description {}

.expenses-table .expense-item .expense-comments {
    color: gray;
    font-size: 14px;
    text-align: justify;
}

.expenses-table th.expense-comments {
    text-align: left;
}

.expenses-table .expense-item .expense-datetime {
    text-align: right;
    padding-right: 10px;
    /* border-radius: 0px 3px 3px 0px; */
}

.expenses-table th.expense-datetime {
    text-align: right;
    padding-right: 10px;
}
