.expenses-filters {
    background-color: white;
    text-align: center;
    padding-bottom: 25px;
}

.expenses-filters .range {
    display: block;
    padding: 5px;
}

.expenses-filters .range .week {
    white-space: nowrap;
}

.expenses-filters .range .week .change-week {
    width: 30px;
    min-width: 30px;
    margin: 0;
}

.expenses-filters .range .week .change-week .material-icons {
    font-size: 50px;
    line-height: 0.5;
    padding: 0;
    margin-left: -25px;
}

.expenses-filters .range .week .change-week.prev {}

.expenses-filters .range .week .change-week.next {}

.expenses-filters .range .week .week-text {
    font-size: 27px;
    vertical-align: middle;
    color: #678EB3;
}

.expenses-filters .range .range-limits {
    font-size: 17px;
    vertical-align: middle;
    white-space: nowrap;
}

.expenses-filters .range .range-limits .text-from {}

.expenses-filters .range .range-limits .range-start {
    font-size: 18px;
    color: #678EB3;
}

.expenses-filters .range .range-limits .text-to {}

.expenses-filters .range .range-limits .range-end {
    font-size: 18px;
    color: #678EB3;
}

.expenses-filters .range .print-btn {
    margin: 0;
    vertical-align: top;
}

.expenses-filters .statistics {
    font-size: 15px;
    display: block;
}

.expenses-filters .statistics .total-expenses {
    white-space: nowrap;
    padding: 5px;
}

.expenses-filters .statistics .total-expenses .text {}

.expenses-filters .statistics .total-expenses .value {
    font-size: 18px;
    font-weight: bold;
}

span.value.ng-binding {}

.expenses-filters .statistics .daily-average {
    white-space: nowrap;
    padding: 5px;
}

.expenses-filters .statistics .daily-average .text {}

.expenses-filters .statistics .daily-average .value {
    font-size: 18px;
    font-weight: bold;
}