
.user-picture .first-name {
    font-size: 22px;
    text-transform: uppercase;
    margin-right: -9px;
}

.user-picture .last-name {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}