<md-dialog id="add-expense" flex=50 flex-md=70 flex-sm=100>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>
                Add New Expense
            </h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon class="material-icons name" ng-aria="close dialog">
                    &#xE5CD;
                </md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <form name="form">

        <md-dialog-content layout-padding ng-show="!loading">

            <div layout layout="column">

                <md-input-container flex>
                    <label translate>Description</label>
                    <input
                        ng-model="expense.description"
                        required>
                </md-input-container>

                <md-icon class="material-icons email">
                    &#xE227;
                </md-icon>

                <md-input-container flex=30>
                    <label translate>Amount</label>
                    <input
                        ng-model="expense.amount"
                        type="number"
                        step="any"
                        required>
                </md-input-container>
            </div>


            <div layout layout="column">
                <md-input-container flex=60>
                    <label translate>Date</label>
                    <input
                        ng-model="expense.datetime"
                        type="date"
                        required>
                </md-input-container>

                <md-input-container flex=40>
                    <label translate>Time</label>
                    <input
                        ng-model="expense.datetime"
                        type="time"
                        step="60"
                        required>
                </md-input-container>
            </div>

            <md-input-container
                    class="md-block"
                    >
                <label translate>
                    Comments
                </label>
                <textarea
                    ng-if="showDescription"
                    ng-model="expense.comments"
                    columns="1"
                    md-maxlength="150"
                    rows="3">
                </textarea>
            </md-input-container>

            <div
                layout="row"
                ng-if="!loading">
                <span flex></span>

                <md-button
                    ng-click="cancel()"
                    translate>
                    Cancel
                </md-button>

                <md-button
                    class="md-raised md-primary"
                    ng-click="create()"
                    translate>
                    Create
                </md-button>
            </div>
        </md-dialog-content>
    </form>

</md-dialog>