<div id="dashboard-view" flex>
    <md-toolbar
        class="md-whiteframe-3dp"
        >
        <div class="md-toolbar-tools">
            <h1>
                <span class="md-display-2">
                    TopTracker
                </span>
            </h1>

            <span flex></span>

            <!-- User -->
            <md-menu
                class="printhide"
                md-offset="0 55"
                md-position-mode="target-right target"
                ng-if="user.isLoaded()"
                >
                <md-button
                    ng-click="$mdOpenMenu($event)"
                    aria-label="Open user menu"
                    class=" md-fab md-mini"
                    ng-class="{
                        'md-primary': roles.admin,
                        'md-hue-1': roles.admin
                    }"
                    >
                    <user-picture user="user"></user-picture>
                </md-button>

                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons email">
                                &#xE853;
                            </md-icon>
                            {{user.name}}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button
                            ng-click="logout()">
                            <div layout="row">
                                <md-icon class="material-icons email">
                                    &#xE879;
                                </md-icon>
                                <p flex translate>Logout</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <!-- If Admin: Current User -->
            <span ng-if="roles.admin"
                class="printhide"
                >
                <span>
                    Viewing As
                </span>

                <md-button
                    aria-label="Current User"
                    class=" md-fab md-mini"
                    ng-click="toggleUserList($event)"
                    >
                    
                    <user-picture user="currentUser"></user-picture>
                    
                </md-button>
            </span>

        </div>
    </md-toolbar>

    <md-progress-circular
        ng-if="loading"
        class="central loader md-hue-2"
        md-mode="indeterminate"
        >
    </md-progress-circular>


    <md-content
        class="landing-content"
        layout="column"
        flex
        >

        <div
            class="expenses-filters md-primary md-whiteframe-3dp"
            fsm-sticky-header
            scroll-body="'.landing-content'"
            scroll-stop='0'
            >

            <span
                class="range"
                >

                <span class="week">
                    <md-button
                        class="change-week prev printhide"
                        ng-click="prevWeek()"
                        >
                        <md-icon class="material-icons">
                            &#xE5CB;
                        </md-icon>
                    </md-button>

                    <span class="week-text" translate>
                        Week
                    </span>

                    <md-button
                        class="change-week next printhide"
                        ng-click="nextWeek()"
                        >
                        <md-icon class="material-icons">
                            &#xE5CC;
                        </md-icon>
                    </md-button>

                </span>

                <span class="range-limits">
                    <span class="text-from" translate>
                        From
                    </span>
                    
                    <span class="range-start">
                        {{weekBeginning() | amDateFormat:'MMM Do'}}
                    </span>

                    <span class="text-to" translate>
                        to
                    </span>
                    
                    <span class="range-end">
                        {{weekEnd() | amDateFormat:'MMM Do YYYY'}}.
                    </span>
                </span>

                <a  class="print-btn md-button printhide"
                    href="javascript:window.print()"
                    translate>

                    <md-icon class="material-icons print">
                        &#xE8AD;
                    </md-icon>
                </a>

            </span>

            <span ng-if="expenses" class="statistics">
                <span class="total-expenses">
                    <span class="text" translate>
                        Total:
                    </span>
                    <span class="value" translate>
                        {{expenses.totalAmount() | currency}}
                    </span>
                </span>

                <span class="daily-average">
                    <span class="text" translate>
                        Daily Average:
                    </span>

                    <span class="value" translate>
                        {{expenses.dailyAverage() | currency}}
                    </span>
                </span>
            </span>
        </div>

        <div class="expenses-list">

            <h3 ng-if="!loading && !expenses.length"
                flex
                >
                <span
                    translate>
                    No expenses on this week.
                </span>
                <a href="javascript:void(0)"
                    ng-click="openAddExpense($event)"
                    translate>
                    Insert one now!
                </a>
            </h3>

            <table
                class="expenses-table"
                role="list"
                ng-if="expenses"
                >
                <tr class="expenses-table-header" 
                    ng-hide="loading || !expenses.length"
                    fsm-sticky-header
                    scroll-body="'.expenses-table'"
                    scroll-stop='73'
                    >
                    <th class="expense-amount" translate>
                        Amount
                    </th>

                    <th class="expense-description" translate>
                        Description
                    </th>

                    <!--th class="expense-comments" translate>
                        Comments
                    </th-->

                    <th class="expense-datetime" translate>
                        Date
                    </th>
                </tr>

                <tr class="expense-item md-clickable md-button md-ink-ripple"
                    ng-repeat="expense in expenses | reverse"
                    ng-click="openExpenseDetails($event, expense)"
                    role="listitem"
                    >
                    <td class="expense-amount" width=160>
                        {{expense.amount | currency}}
                    </td>

                    <td class="expense-description">
                        {{expense.description}}
                    </td>

                    <!--td class="expense-comments">
                        {{ expense.comments | limitTo: 60 }}{{expense.comments.length > 60 ? '...' : ''}}
                    </td-->

                    <td class="expense-datetime" width=230>
                        {{expense.datetime | amCalendar}}
                    </td>
                </tr>
            </table>

        </div>

        <div class="fab-menu printhide">
            <md-button
                class="md-fab md-raised md-primary"
                aria-label="Add new expense"
                ng-click="openAddExpense($event)"
                ng-hide="loading"
                >
                <md-icon class="material-icons email">
                    &#xE145;
                </md-icon>
            </md-button>
        </div>

    </md-content>

    <md-sidenav
        class="md-sidenav-right md-whiteframe-z2"
        md-component-id="userList"
        >
        <md-toolbar class="md-theme-light">
            <div class="md-toolbar-tools">
                <h1 translate>
                    Switch User
                </h1>

                <span flex></span>

                <md-button
                    class="md-icon-button"
                    ng-click="toggleUserList()">
                    <md-icon
                        class="material-icons name"
                        ng-aria="close user search"
                        >
                        &#xE5CD;
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content
            layout-padding
            >
            <form>
                <md-input-container>

                    <label
                        for="switch-user-search"
                        translate>
                        Filter User
                    </label>

                    <input
                        id="switch-user-search"
                        type="text" 
                        ng-model="userSearchText"
                        md-autofocus
                        >

                </md-input-container>
            </form>

            
            <md-list class="user-search-list">

                <md-list-item
                    ng-repeat="user in usersList | filter:userSearchText | limitTo:10"
                    ng-click="switchUser(user)"
                    class="md-2-line">
                    
                    <user-picture
                        user="user"
                        class="md-fab md-mini md-avatar">
                    </user-picture>

                    <div class="md-list-item-text">
                        <h3>{{ user.name }}</h3>
                        <p>{{ user.email }}</p>
                    </div>

                </md-list-item>

            </md-list>


        </md-content>
    </md-sidenav>
</div>
