<div id="landing-view">
    <md-toolbar class="md-raised">
        <div class="md-toolbar-tools">
            <h1 >
                <span class="md-display-2">TopTracker</span>
            </h1>

            <span flex></span>

            <md-button aria-label="Learn More"
                ng-click="openLoginView($event)"
                translate>
                Sign In
            </md-button>
        </div>
    </md-toolbar>

    <div class="landing-content" layout="column" flex>
        <div 
            flex
            class="top-sections"
            layout="row"
            layout-md="column"
            layout-sm="column"
            >

            <div flex class="video-section" hide-sm>

                <video
                    class="landing-video"
                    autoplay=""
                    loop="loop"
                    poster="images/landing-video-placeholder.png"
                    preload="none"
                    >
                    <source src="images/landing-background.mp4" type="video/mp4">
                    <source src="images/landing-background.webm" type="video/webm">
                </video>

            </div>

            <md-content
                class="get-in-section"
                flex-sm=100
                flex-md=100
                flex=50
                layout-padding
                >
                    
                <h1 class="md-display-3">
                    Never lose track of your money.
                </h1>

                <h2 class="md-headline">
                    Get in to start
                </h2>

                <md-button
                    class="md-raised md-primary get-in-btn"
                    ng-click="openSignUpView($event)"
                    translate
                    >
                    Sign Up
                </md-button>

            </md-content>

        </div>

        <md-toolbar class="md-theme-light second-toolbar" layout-padding>
            <span class="md-display-1">With <span class="md-display-2">TopTracker</span> you can:</span>
        </md-toolbar>

        <md-content
            flex
            layout="column"
            class="mid-sections">

            <div class="md-display-1" layout-margin>
                <i class="material-icons">&#xE227;</i>
                Track your expenses
            </div>

            <div class="md-display-1" layout-margin>
                And that's about all...
            </div>

        </md-content>
    </div>
</div>
