<md-dialog id="login" flex=50 flex-md=70 flex-sm=100>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>
                Sign In
            </h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon class="material-icons name" ng-aria="close dialog">&#xE5CD;</md-icon>
            </md-button>

        </div>
    </md-toolbar>


    <md-dialog-content layout-padding class="autoScroll" id="">
        <br/>
        <form name="loginForm" ng-show="!loading">

            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>E-Mail</label>

                <md-icon class="material-icons email">&#xE158;</md-icon>

                <input ng-model="user.email" type="email" name="email" ng-required="true">

                <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                    <div ng-message="required" translate>
                        You must provide a valid email
                    </div>
                </div>

            </md-input-container>

            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>Password</label>

                <md-icon class="material-icons passowrd">&#xE0DA;</md-icon>

                <input ng-model="user.password" name="password" type="password" ng-required="true">

                <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                    <div ng-message="required" translate>
                        Please insert a password
                    </div>
                </div>

            </md-input-container>

            <md-button
                class="md-raised md-primary get-in-btn"
                ng-click="signIn($event)"
                translate
                >
                Sign In
            </md-button>
        </form>
        
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular
                ng-if="loading"
                class="md-hue-2"
                md-mode="indeterminate">
            </md-progress-circular>
        </div>
    </md-dialog-content>

</md-dialog>