<md-dialog id="signup" flex=50 flex-md=70 flex-sm=100>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>
                Sign Up
            </h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon class="material-icons name" ng-aria="close dialog">&#xE5CD;</md-icon>
            </md-button>

        </div>
    </md-toolbar>


    <md-dialog-content layout-padding class="autoScroll" id="">
        <br/>
        <form name="signUpForm" ng-show="!loading">

            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>Name</label>

                <md-icon class="material-icons name">&#xE7FD;</md-icon>

                <input ng-model="user.name" name="name" type="text" ng-required="true">

                <div ng-messages="signUpForm.name.$error" ng-if="signUpForm.name.$touched">
                    <div ng-message="required" translate>
                        This is required.
                    </div>
                    <div ng-message="md-minlength" translate>
                        The name has to be at least 5 characters long.
                    </div>
                </div>

            </md-input-container>

            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>E-Mail</label>

                <md-icon class="material-icons email">&#xE158;</md-icon>

                <input ng-model="user.email" type="email" name="email" ng-required="true">

                <div ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
                    <div ng-message="required" translate>
                        You must provide a valid email
                    </div>
                </div>

            </md-input-container>

            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>Password</label>

                <md-icon class="material-icons passowrd">&#xE0DA;</md-icon>

                <input ng-model="user.password" name="password" type="password" ng-required="true">

                <div ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched">
                    <div ng-message="required" translate>
                        Please insert a password
                    </div>
                </div>

            </md-input-container>


            <md-input-container
                class="md-icon-float md-block"
                >
                <label translate>Password Again</label>

                <md-icon class="material-icons passowrd">&#xE0DA;</md-icon>

                <input ng-model="user.password2" name="password2" type="password" ng-required="true">

                <div ng-messages="signUpForm.password2.$error" ng-if="signUpForm.password2.$touched">
                    <div ng-message="required" translate>
                        Please insert the password again
                    </div>
                </div>
                
            </md-input-container>

            <md-button
                class="md-raised md-primary get-in-btn"
                ng-click="signUp($event)"
                translate
                >
                Sign Ip
            </md-button>
        </form>
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular
                ng-if="loading"
                class="md-hue-2"
                md-mode="indeterminate">
            </md-progress-circular>
        </div>
    </md-dialog-content>

</md-dialog>